@import "@workspace/ui/globals.css";

@theme inline {
	--max-w-frame: 77.5rem;
	--width-frame: 77.5rem;
	--breakpoint-xs: 375px;
}

@utility max-w-frame {
	max-width: 77.5rem;
}

@keyframes accordion-down {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes accordion-up {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}

@utility animate-accordion-down {
	animation: accordion-down 0.2s ease-out;
}

@utility animate-accordion-up {
	animation: accordion-up 0.2s ease-out;
}
